@tailwind base;
@tailwind components;
@tailwind utilities;

.input-class {
    @apply w-full bg-[#f5f5f5] border focus:outline-[#686565e5] border-[#0000001A] rounded-[8px] text-[0.75rem] lg:text-[1rem] h-[2.25rem] md:h-[2.85rem] lg:h-[3.125rem] pl-[1rem];
}

.label-class {
    @apply w-full font-[500];
}

.error-class {
    @apply text-[0.75rem] customXs:text-[0.65rem] lg:text-[0.9rem] text-[#cc3030];
}

.text-shadow-class {
    @apply w-auto mx-auto text-[transparent] relative text-center whitespace-nowrap;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    /* Animate carousel slider for hero section */
    .slider {
        background-image: url(/homepageImages/header-img-mob1.png);
        animation: slideMobile 3.9s infinite;
    }

    @keyframes slideMobile {
        0%,
        25% {
            background-image: url(/homepageImages/header-img-mob1.png);
        }

        33%,
        58% {
            background-image: url(/homepageImages/header-img-mob2.png);
        }

        66%,
        91% {
            background-image: url(/homepageImages/header-img-mob3.png);
        }

        100% {
            background-image: url(/homepageImages/header-img-mob1.png);
        }
    }

    .activity-card {
        &::after {
            content: "";
            position: absolute;
            width: 13.75rem;
            height: 4.688rem;
            transition: all 0.25s;
            bottom: -0.75rem;
            right: -0.75rem;
            background-color: #000;
            border-bottom: 0.75rem solid #000;
            border-right: 0.75rem solid #000;
            border-radius: 10px;
            z-index: -1;
        }

        &:last-child::after {
            height: 6rem;
        }
    }

    .about-us-style {
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 9.938rem;
            height: 4.688rem;
            transition: all 0.25s;
            background-color: #000;
            border-radius: 10px;
            z-index: -1;
        }

        &::before {
            top: -0.75rem;
            left: -0.75rem;
            margin-left: 0.75rem;
        }

        &::after {
            bottom: -0.75rem;
            right: -0.75rem;
            margin-right: 0.75rem;
        }
    }

    .spinner {
        margin: 0;
        width: 15px;
        aspect-ratio: 1;
        border-radius: 50%;
        border: 2px solid #fff;
        border-right-color: transparent;
        animation: rotate 1s infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(1turn);
        }
    }

    .custom-text-stroke {
        -webkit-text-stroke: 0.039rem #231600;

        &::before {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            color: #000;
            transform: translate(5px, -6px);
            font-style: italic;
        }
    }

    @media screen and (min-width: 1024px) {
        .slider {
            background-image: url(/homepageImages/header-img-desk1.png);
            animation: slideDesktop 3.9s infinite;
        }

        @keyframes slideDesktop {
            0%,
            25% {
                background-image: url(/homepageImages/header-img-desk1.png);
            }

            33%,
            58% {
                background-image: url(/homepageImages/header-img-desk2.png);
            }

            66%,
            91% {
                background-image: url(/homepageImages/header-img-desk3.png);
            }

            100% {
                background-image: url(/homepageImages/header-img-desk1.png);
            }
        }

        .activity-card {
            &::after {
                width: 23.938rem;
                height: 6.5rem;
                bottom: -1.5rem;
                right: -1.5rem;
                border-bottom: 1.5rem solid #000;
                border-right: 1.5rem solid #000;
                border-radius: 20px;
            }

            &:last-child::after {
                height: 7.688rem;
            }
        }

        .about-us-style {
            &::before,
            &::after {
                width: 32.563rem;
                height: 14.063rem;
                border-radius: 15px;
            }

            &::before {
                top: -1.5rem;
                left: -1.5rem;
                margin-left: 1.5rem;
            }

            &::after {
                bottom: -1.5rem;
                right: -1.5rem;
                margin-right: 1.5rem;
            }
        }

        .text-stroke {
            -webkit-text-stroke: 0.039rem #231600;

            &::before {
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                color: #000;
                transform: translate(10px, -8px);
                font-style: italic;
            }
        }

        .spinner {
            width: 20px;
        }
    }
}
